*{
	box-sizing:border-box;
	font-family: 'Raleway', sans-serif;
	margin:0;
	padding:0;
}
body,html{
	height:100%;
	width:100%;
}
.background-image{
	background-image: url('../images/forest.jpg');
	/*background-color:#333;*/
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	height:100%;
	width:100%;
}
.widget-wrapper{
	position:absolute;
	top:20%;
	text-align:center;
	left:50%;
	width:100%;
	transform:translate(-50%,0%);
	color:#fff;
	z-index:2;

}
.widget-wrapper h1{
	font-size:13em;
}
.widget-wrapper h2{
	font-size:3em;
	margin-bottom:1em;

}
/*modals wrappers */
.todo__main-wrapper h2{
	font-size:2em;
}
.todo__list-wrapper{
	font-size:2em;
}
ul li {
	 transition: 0.5s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select: none;
	-ms-user-select:none;
	 user-select: none;
}
.todo__list-wrapper ul li a{
	text-decoration:none;
	text-align:center;
	color:#fff;
	padding:15px;
}

.todo__list-wrapper span{
	cursor:pointer;
	border-radius:50%;
	position:absolute;
	text-align:center;
	width:45px; 
	height:45px;
	transition:all 1s ease;
}
.todo__list-wrapper span:hover{
	cursor:pointer;
	color:#e0e0e0;
	border:1px solid #fff;
}
.todo-wrapper,.todo-btn,.link-wrapper,.settings-wrapper,.link-btn{
	position:absolute;
	z-index:3;
}
.link-wrapper,.link-btn{
	left:0;
	padding:15px;
}
.todo-wrapper,.todo-btn{
	right:0;
	padding:15px;
}
.todo-btn,.link-btn{
	font-size:1.5em;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	color:#fff;

	/*prevent text selection after double click*/

	-webkit-user-select:none;
	-o-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.todo-btn{
	bottom:0;
}
.todo-btn:hover,.link-btn:hover{
	color:#95a5a6;
}
.todo-wrapper{
	display:none;
	border-radius: 5px;
	bottom:65;
	background-color:#000;
	opacity:0.7;
	width:400px;
	right:15px;
}
.link-wrapper{
	display:none;
	border-radius: 5px;
	top:65;
	background-color:#000;
	opacity:0.7;
	width:400px;
	left:15px;
	z-index:3;
}
.todo-wrapper h3{
	color:#fff;
	padding-bottom:15px;
}
.todo-wrapper__list ul li,
.link-wrapper__list ul li{
	font-size:13px;
	position:relative;
	list-style-type:none;
	color:#fff;
	padding:8px 15px;
}
.link-wrapper__list ul li a{
	text-decoration:none;
	color: #fff;\
	transition:0.4s;
}
.link-wrapper__list ul li a:hover{
	color: #fff;
}
.todo-wrapper__list ul li span,
.link-wrapper__list ul li span{
	  position: absolute;
	  right:0;
	  top:-.5px;
	  cursor:pointer;
	  font-size:1.5em;
}
.todo-wrapper__list ul li span:hover,
.link-wrapper__list ul li span:hover{
	color:#95a5a6;
}
/*end of modal wrappers */
.clearfix{
	content:'';
	clear: both;
	height:0;
	visibility:hidden;
	display:block;
}
/*
	input design
*/
.input{
	width:100%;
	outline:none;
	padding:8px 15px;
	border:none;
	background-color:inherit;
	color:#fff;
	border-bottom:1px solid inherit;
}
.input ~.focus-border{
	position:absolute;
	bottom:15;
	left:50%;
	width:0;
	height:2px;
	background-color:#27ae60;
	transition: 0.4s;
}
.input:focus ~.focus-border{
	width:100%;
	transition:0.4s;
	left:0;
}
/* triangle design */
.link-wrapper::after{
	content:'';
	position: absolute;
	top:-18px;
	left: -85%;
	right: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-top: solid 10px transparent;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
	border-bottom: solid 10px; /* Show in top */
}
.todo-wrapper::after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: -80%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px; /* Show in bottom */
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
.small{
	font-size:65px !important;
}
.main-field{
	width:50%;
	margin:auto;
}
.main-input{
	text-align:center;
	width:100%;
	font-size:1em;
	outline:none;
	color:#fff;
	border:none;
	border-bottom:2px solid #fff;
	background-color:transparent;

}
.editing{
	transition:.5s;
	border-bottom:2px solid #fff;
}
.is-hidden {
  display: none;
}
ul li.checked{
	text-decoration: line-through;
	transition:.5s;

}
.fa-cog{
	float:right;
}
.todo-wrapper a{
	color:#fff;
}
.settings-btn-wrapper{
	position:absolute;
	bottom:12px;
	left:12px;

}
.settings-btn-wrapper a{
	color:#fff;
}
.settings-wrapper{
	/*display:none;*/
	border-radius: 5px;
	bottom:65;
	padding:15px;
	color:#fff;
	background-color:#000;
	opacity:0.7;
	width:400px;
	left:15px;
}
.switch{
	position:relative;
	left:0;
	width:10%;
	float:right;
}
.slider{
	position:relative;
	display:inline-block;
	width:30px;
	height:15px;
}
.switch input{
	display:none
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 15px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before{
	position:absolute;
	content:"";
	height:10px;
	width:10px;
	left:3px;
	bottom:3px;
	background-color:white;
	-webkit-transition:.4s;
	transition:.4s;
}
input:checked + .slider{
	background-color:#2196F3;
}
input:focus + .slider{
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before{
	-webkit-transform:translateX(14px);
	  -ms-transform: translateX(14px);
	transform:translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.set-time-type{
	font-size:14px;
}
/*.loader{
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;

}
@keyframes spin{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}*/
